# Jekyll 生成的文件
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# 捆綁套件
.bundle/
vendor/

# 日誌
*.log

# 臨時文件
*.tmp
*.bak
*.swp

# 系統文件
.DS_Store
Thumbs.db

# IDE 和編輯器文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 個人配置文件（如果有）
_config.local.yml