<!-- header.html -->
<header id="site-header">
    <div class="header-content">
        {% if page.url contains 'blog' %}
        <!-- 部落格LOGO內容 -->
            <a href="{{ '/blog/' | relative_url }}" class="logo-link">
        {% else %}
        <!-- 其他頁面LOGO內容 -->
            <a href="{{ '/' | relative_url }}" class="logo-link">
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="logo-svg" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:currentColor;}
            </style>
            <polygon class="st0" points="500,950 892,725 629,575 760,500 760,350 500,200 240,350 240,650 500,800 500,650 370,575 500,500   368,425 500,350 630,425 500,500 500,650 698,760 500,875 174,688 174,312 500,125 826,312 826,612 892,648 892,275 500,50 108,275   108,725 "></polygon>
        </svg>
    </a>
      
      <h1 class="site-title desktop-nav-title">
        {% if page.header_title %}
          {{ page.header_title }}
        {% elsif site.header_title %}
          {{ site.header_title }}
        {% else %}
          {{ site.title }}
        {% endif %}
      </h1>
      {% if page.layout == "post" %}
        <h1 class="site-title mobile-nav-title">📝</h1>
      {% endif %}

      <button id="menu-toggle" class="menu-toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
  
      <div class="nav-and-button" id="nav-and-button">
        <nav>
            {% if page.url contains 'blog' %}
            <!-- 部落格導航欄內容 -->
                <a href="{{ '/blog/category/' | relative_url }}" {% if page.url contains 'category' %}class="current"{% endif %}>分類</a>
                <a href="{{ '/blog/tag/' | relative_url }}" {% if page.url contains 'tag' %}class="current"{% endif %}>標籤</a>
                <!-- <a href="{{ '/blog/' | relative_url }}" {% if page.url contains 'blog' %}class="current"{% endif %}>字碼筆記</a> -->
                <a href="{{ '/' | relative_url }}" class="nounderline" rel="noopener noreferrer">
                    <button class="button focus">個人網站</button>
                </a>
            {% else %}
            <!-- 其他頁面導航欄內容 -->
                <a href="{{ '/works/' | relative_url }}" {% if page.url contains 'works' %}class="current"{% endif %}>作品</a>
                <a href="{{ '/about/' | relative_url }}" {% if page.url contains 'about' %}class="current"{% endif %}>關於</a>
                <a href="{{ '/contact/' | relative_url }}" {% if page.url contains 'contact' %}class="current"{% endif %}>聯繫</a>
                <a href="{{ '/boost/' | relative_url }}" {% if page.url contains 'boost' %}class="current"{% endif %}>支持</a>
                <!-- <a href="{{ '/blog/' | relative_url }}" {% if page.url contains 'blog' %}class="current"{% endif %}>字碼筆記</a> -->
                <a href="{{ '/blog/' | relative_url }}" class="nounderline" rel="noopener noreferrer">
                    <button class="button focus">字碼筆記</button>
                </a>
            {% endif %}
            <button id="theme-toggle" aria-label="切換主題">
                <span class="theme-toggle-dark">🌙</span>
                <span class="theme-toggle-light">☀️</span>
              </button>
        </nav>
      </div>
    </div>

    <script src="{{ '/assets/js/external-links.js' | relative_url }}"></script>
  </header>