<div id="newsletter-floating" class="newsletter-floating initially-hidden">
    <button id="newsletter-toggle" class="newsletter-toggle">
        <span class="emoji-minimized">📰</span>
        <span class="toggle-text">訂閱電子報</span>
      <svg class="minimize-icon hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="7 13 12 18 17 13"></polyline>
        <polyline points="7 6 12 11 17 6"></polyline>
      </svg>
      <svg class="close-icon hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <div id="newsletter-form" class="newsletter-form hidden">
      <h3>📰 訂閱我的電子報</h3>
      <div class="ml-embedded" data-form="H2EYyg"></div>
    </div>
  </div>