<div>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://erikyin.net" target="_blank" class="nounderline">
        <button class="button share facebook">Facebook</button>
    </a>
    <a href="https://lineit.line.me/share/ui?url=https://erikyin.net" target="_blank" class="nounderline">
        <button class="button share line">LINE</button>
    </a>
    <a href="https://twitter.com/intent/tweet?url=https://erikyin.net&text=看看殷慈遠的創作" target="_blank" class="nounderline">
        <button class="button share twitter">Twitter</button>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://erikyin.net" target="_blank" class="nounderline">
        <button class="button share linkedin">LinkedIn</button>
    </a>
    <a href="#" class="nounderline" id="copyLink">
        <button class="button share copy-link">複製連結</button>
    </a>
</div>

<script>
document.getElementById('copyLink').addEventListener('click', function(e) {
    e.preventDefault();
    navigator.clipboard.writeText("https://erikyin.net")
        .then(() => {
            alert('網站連結已複製到剪貼簿！');
        })
        .catch(err => {
            console.error('無法複製文字: ', err);
        });
});
</script>