---
layout: default
title: 字碼筆記
header_title: 📝
hide_first_title: true
body_class: blog-page
---

<h1>📝</h1>

<div class="search-container">
    <input type="text" id="search-input" placeholder="搜尋文章...">
    <ul id="results-container"></ul>
</div>

<!-- 文章列表 -->
{% for post in paginator.posts %}
  <article class="post-list">

    <!-- 文章標題 -->
    <h2 ><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>

    <!-- 文章資訊 -->
    <p class="post-meta">
        <!-- 日期 -->
        <span class="icon">📅</span>
        <span class="data">{{ post.date | date: "%Y-%m-%d" }}
        {% capture words %}
          {{ post.content | strip_html | strip_newlines | remove: " " | size }}
        {% endcapture %}
        {% assign read_time = words | plus: 250 | divided_by: 250 | at_least: 1 %}
        </span>
        <!-- 閱讀時間 -->
        <span class="icon">| ⏱️</span>
        <span class="data">{{ read_time }} min</span>
        {% if post.categories.size > 0 %}
        <span class="post-categories">
        <span class="icon">| 🗂️</span>
        {% assign filtered_categories = post.categories | where_exp: "category", "category != 'blog'" %}
        {% for category in filtered_categories %}
            <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/" class="data">{{ category }}</a>
        {% endfor %}
        </span>
    {% endif %}
    
    {% if post.tags.size > 0 %}
        <span class="post-tags">
        <span class="icon">| 🏷️</span>
        {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}/" class="data">{{ tag }}</a>
        {% endfor %}
        </span>
    {% endif %}
    </p>

    <!-- 文章概要 -->
    <div class="post-excerpt">
        {% if post.excerpt %}
          {{ post.excerpt | strip_html | truncate: 50, '...' }}
        {% else %}
          {{ post.content | strip_html | truncate: 50, '...' }}
        {% endif %}
      </div>

    <!-- 繼續閱讀 -->
    <a  class="read-more" href="{{ post.url | relative_url }}" class="read-more">繼續閱讀...</a>
    <hr/>
  </article>
{% else %}

<!-- 沒文章顯示 -->
    <p>目前還沒有文章...</p>
{% endfor %}

<!-- 分頁 -->
{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">⬅️</a>
    {% endif %}
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="next">➡️</a>
    {% endif %}
  </div>
{% endif %}