// _about.scss

.about-content {
    // 針對 Markdown 生成的內容
    > p, > ul, > ol {
      margin-bottom: 1.8em;
      line-height: 2; // 增加行距
      font-size: var(--font-size-base);
      text-align: justify; // 使用兩端對齊
    }
  
    // 標題樣式
    > h2, > h3, > h4, > h5, > h6 {
      margin-top: 1.5em;
      margin-bottom: 0.8em;
    }
  }