// _components/_buttons.scss

// 基礎按鈕樣式
button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.95em;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(var(--accent-color-rgb), 0.5);
    border: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-duration) ease,
                color var(--transition-duration) ease,
                font-weight var(--transition-duration) ease;
    cursor: pointer;
    height: 3em;

    // 明亮模式特定樣式
    body.light-theme & {
        transition: background-color var(--transition-duration) ease,
        color var(--transition-duration) ease,
        font-variation-settings 0.3s ease;
        font-variation-settings: "wght" 500;
        
        &:hover {
          font-variation-settings: "wght" 700;
        }
      }

    &:hover, &:focus {
        font-weight: var(--font-weight-bold);
        background-color: var(--accent-color);
        color: var(--text-color);
    }
}

// 支持按鈕樣式
button.focus {
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.9em;
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    transition: all var(--transition-duration) ease;
    
    cursor: pointer;
    height: 3em;

    body.light-theme & {
        background-color: var(--text-color);
    }

    &:hover, &:focus {
        font-weight: var(--font-weight-bold);
        background-color: var(--accent-color);
        color: var(--bg-color);
    }
}

// 特定的分享按鈕顏色
button.share {
    background-color: rgba(var(--accent-color-rgb), 0.3);
    color: var(--text-color);
    margin: 5px;

    transition: background-color var(--transition-duration) ease,
                color var(--transition-duration) ease,
                font-weight var(--transition-duration) ease;
    
    &:hover, &:focus {
        background-color: rgba(var(--accent-color-rgb), 0.8);
    }

    // 特定的分享按鈕顏色

    &.theme-toggle { 
        background-color: transparent;
        font-size: 1.25em;
        border-radius: 50%;

        body.light-theme & {
            background-color: transparent;
        }
    }

    &.facebook:hover { 
        background-color: rgba(59, 89, 152, 0.8);

        body.light-theme & {
            color: var(--bg-color);
        }
    }
    &.line:hover { 
        background-color: rgba(0, 185, 0, 0.8);

        body.light-theme & {
            color: var(--bg-color);
        }
    }
    &.twitter:hover { 
        background-color: rgba(29, 161, 242, 0.8);

        body.light-theme & {
            color: var(--bg-color);
        }
    }
    &.linkedin:hover { 
        background-color: rgba(0, 119, 181, 0.8);

        body.light-theme & {
            color: var(--bg-color);
        }
    }
    &.copy-link:hover { 
        background-color: rgba(69, 66, 74, 1);

        body.light-theme & {
            background-color: rgba(69, 66, 74, 0.8);
            color: var(--bg-color);
        }
    }

    @media (max-width: 768px) {
        max-width: none;
        width: 100%;
        margin-top: 15px;
      }
  }

// 特定的支持按鈕顏色
button.focus {
    &.ecpay:hover {
        color: var(--white);
        background-color: rgba(0, 150, 136, 0.8);
    }
    &.buymeacoffee:hover {
        font-weight: var(--font-weight-medium);
        background-color: rgba(255, 221, 0, 0.8);
        color: #000;
    }
    &.paypal:hover {
        color: var(--white);
        background-color: rgba(0, 48, 135, 0.8);
    }
}
