// _projects.scss

// 作品容器樣式
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // 置中對齊
    align-items: center;
    max-width: 100%;
    margin: 10px;
    padding: 0 15px;
    margin: 5px;

  }
  
  // 作品鏈接樣式
  .project-link {
    @include no-underline; // 使用 mixin 來移除底線
  }
  
  // 作品項目樣式
  .project-item {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgba(var(--accent-color-rgb), 0.5);
    border-radius: var(--border-radius);
    transition: all var(--transition-duration) ease;
    cursor: pointer;
    
    [data-theme="light"] & {
        background-color: rgba(var(--accent-color-rgb), 0.2);
      }

    &:hover {
        background-color: rgba(var(--accent-color-rgb), 1);
    
        .project-title {
          color: var(--text-color);
        }

        [data-theme="light"] & {
            background-color: rgba(var(--accent-color-rgb), 0.1);
        }
      }

      
    
      .project-title {
        color: var(--text-color);
        font-weight: 400;
        transition: font-weight var(--transition-duration) ease; // 添加字重過渡效果
    
        &:hover {
          font-weight: var(--font-weight-bold);
        }

        // 明亮模式特定樣式
        [data-theme="light"] & {
            transition: font-variation-settings 0.3s ease;
            font-variation-settings: "wght" 500;
            
            &:hover {
            font-variation-settings: "wght" 700;
            //   color: blue;
            }
        }
    }
  }

// 標籤雲樣式
.tag-cloud {
    margin-bottom: 30px;
    text-align: center;
    
    @media (max-width: 768px) {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    .tag {
        display: inline-block;
        margin: 0 -5px; // 調整間距
        padding: 5px 10px;
        color: var(--text-color);
        font-size: 0.9em;
        cursor: pointer;
        transition: all var(--transition-duration) ease, font-weight var(--transition-duration) ease;
        position: relative;

        // 明亮模式特定樣式
        [data-theme="light"] & {
            transition: font-variation-settings 0.3s ease;
            font-variation-settings: "wght" 500;
            
            &:hover {
            font-variation-settings: "wght" 700;
            //   color: blue;
            }
        }

        &.active,
        &:hover {
            font-weight: var(--font-weight-bold);

        // 明亮模式特定樣式
        [data-theme="light"] & {
            font-variation-settings: "wght" 700;
        }
        }
    
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: var(--text-color);
          transform: scaleX(0);
          transition: transform var(--transition-duration) ease;
        }
    
        &:hover {
          font-weight: var(--font-weight-bold);
        }
    
        &:hover::after,
        &.active::after {
          transform: scaleX(1);
        }
      }
    }
  
// 響應式設計
@media (max-width: 768px) {
    .tag-cloud {
      padding: 10px 0;
      
      .tag {
        font-size: 0.8em;
        // margin: 0 -3px;
        padding: 5px 8px;
      }
    }
  
    .project-item {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    .project-container {
      padding: 0 10px;
    }
  }