<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% include head.html %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Fira+Code:wght@400;700&family=Noto+Emoji&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - 殷慈遠</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    {% include header.html %}
    
    <main role="main">
        <div class="container content {% if page.center_content %}center-content{% endif %}">
            {{ content }}
          </div>
        
        {% include footer.html %}
    </main>
    
    {% include newsletter-floating.html %}
    {% include scripts.html %}

    <button id="back-to-top" aria-label="回到頂部" class="back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
      </button>
</body>
</html>