// _sass/_typography.scss

// 通用字體類
%font-base {
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  // Noto Serif TC
  @mixin noto-serif-tc($weight: 400) {
    @extend %font-base;
    font-family: var(--font-serif);
    font-weight: $weight;
  }
  
  // Noto Emoji
  @mixin noto-emoji($weight: 400) {
    @extend %font-base;
    font-family: var(--font-emoji);
    font-weight: $weight;
  }
  
  // Noto Sans TC
  @mixin noto-sans-tc($weight: 400) {
    @extend %font-base;
    font-family: var(--font-sans);
    font-weight: $weight;
  }
  
  // Fira Code
  @mixin fira-code($weight: 400) {
    @extend %font-base;
    font-family: var(--font-mono);
    font-weight: $weight;
  }
  
  // 基本文字樣式
  body {
    font-family: var(--font-mono), var(--font-emoji), var(--font-sans);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-base);
    line-height: 1.8;
    letter-spacing: 1.3px;
  }
  
  // 標題樣式
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif), var(--font-emoji);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    text-align: center;
  }
  
  h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: 2px;
  }
  
  // Emoji 樣式
  .emoji {
    font-family: var(--font-emoji), var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: 1.4em;
    margin-right: 15px;
    display: inline-block;
    width: 30px;
    text-align: center;
  }
  
  // 內容中的 emoji-text 組合
  .emoji-text-combo {
    display: flex;
    align-items: center;
  
    .emoji {
      margin-right: 5px;
    }
  }
  
  // 連結樣式
  a {
    font-family: var(--font-mono), var(--font-emoji), var(--font-sans);
    font-weight: var(--font-weight-regular);
    transition: font-weight 0.3s ease;
    
    &:hover {
        // font-variation-settings: "wght" + 100;
        font-weight: var(--font-weight-bold);
    }

    // 明亮模式特定樣式
    body.light-theme & {
        transition: font-variation-settings 0.3s ease;
        font-variation-settings: "wght" 500;
        
        &:hover {
          font-variation-settings: "wght" 700;
        //   color: blue;
        }
      }
  }
  
  // 按鈕樣式
  .button, button, input[type="button"], input[type="submit"] {
    font-family: var(--font-mono), var(--font-emoji), var(--font-sans);
    // font-weight: var(--font-weight-regular);
    transition: font-weight 0.3s ease;
    
    // &:hover {
    //   font-weight: var(--font-weight-bold);
    // }
  }
  
  // 響應式設計
  @media (max-width: 768px) {
    body {
      font-size: var(--font-size-small);
    }
  
    h1 {
      font-size: 2.5em;
    }
  }
