:root {
    // 顏色變量
    --bg-color: #28262C;      // 背景顏色
    --text-color: #F5F0E5;    // 文字顏色
    --accent-color: #45424A;  // 強調顏色
    --white: #FFFFFF;         // 白色
    
    // 字體變量
    --font-emoji: 'Noto Emoji', sans-serif;
    --font-mono: 'Fira Code', monospace;
    --font-sans: 'Noto Sans TC', sans-serif;
    --font-serif: 'Noto Serif TC', serif;
    
    // 字體權重變量
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 650;

    --font-size-base: 16px;
    --font-size-small: 14px;
    
    // 其他變量
    --logo-color: var(--text-color);  // logo 顏色
    --border-radius: 1px;             // 邊框圓角
    --transition-duration: 0.3s;      // 過渡動畫持續時間
    --content-max-width: 800px;       // 內容最大寬度

    // 響應式設計斷點
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
    
    // 響應式字體大小
    --font-size-base: 16px;
    --font-size-large: 1.25rem;
    --font-size-small:  0.875rem;

    // 頁首標題樣式變量
    --font-size-header-title: 1.5em;
    --font-weight-header-title: 700;
    --header-title-color: var(--text-color);
    --letter-spacing-header-title: 1px;
    --text-transform-header-title: uppercase;
  }