// _base/_reset.scss

html {
    height: 100%;
    overflow-y: scroll;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  // 滾動條樣式
  // Webkit 瀏覽器
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--white);
  }
  
  // Firefox
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--bg-color);
  }